<div class="grid-container">
  <div class="grid-item">
    <h3 class="text-center">Jobs by Interest</h3>
    <table class="dashboard-table">
      <% @count_by_interest.each do |interest_level, count| %>
        <tr>
          <td><%= interest_level %> out of 5</td>
          <td id="level-of-interest-count-<%= interest_level %>" class="table-fit">
            <%= count %> Jobs
          </li>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="grid-item">
    <h3 class="text-center">Top Companies by Interest</h3>
    <table class="dashboard-table">
      <% @companies_by_interest.each do |company| %>
        <tr>
          <td><%= company.name %></td>
          <td id="job-interest-by-company-<%= company.id %>" class="table-fit">
            <%= company.avg_interest.round(1) %> Stars
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<table class="content-table">
<% @jobs_by_location.each do |city, job_count| %>
  <tr>
    <td><%= link_to city, "/jobs?location=#{city}" %> Jobs</td>
    <td id="job-count-by-location-<%= city %>" class="text-right">
      <%= job_count %> <%= job_count > 1 ? 'jobs' : 'job' %>
    </td>
  </tr>
<% end %>
</table>
