<div class="grid-container">
  <div class="grid-item">
    <table>
      <% @count_by_interest.each do |interest_level, count| %>
        <tr>
          <td><%= interest_level %> out of 5</td>
          <td id="level-of-interest-count-<%= interest_level %>">
            <%= count %>
          </li>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="grid-item">
    <table>
      <% @companies_by_interest.each do |company| %>
        <tr>
          <td><%= company.name %></td>
          <td id="job-interest-by-company-<%= company.id %>">
            <%= company.avg_interest.round(1) %> Stars
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<% @jobs_by_location.each do |city, job_count| %>
  <ul>
    <li><%= city %> Jobs</li>
    <li id="job-count-by-location-<%= city %>">
      <%= job_count %> <%= job_count > 1 ? 'jobs' : 'job' %>
    </li>
  </ul>
<% end %>
