<h4 class="text-center">
  <%= link_to "All Jobs for #{@company.name}", company_jobs_path(@company) %>
</h4>

<%= form_for [@company, @contact] do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :position %>
<%= f.text_field :position %>

<%= f.label :email %>
<%= f.text_field :email %>

<%= f.submit "Save" %>
<% end %>

<h4 class="text-center">Company Contacts</h4>
<table class="data-table">
  <thead>
    <th>Name</th>
    <th>Position</th>
    <th>Email Address</th>
  </thead>
  <%= render partial: 'companies/contact', collection: @company.contacts.reverse %>
</table>
